.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-format {
  display: flex;
  flex-direction: row;
  height: 95vh;
}

.search-format {
  width: 100%;
  height: 94vh;
  word-wrap: break-word;
}

.search-locations {
  width: 92%;
  padding: 10px 3% 10px 3%;
  /* background-image: url('./icons/search.svg'); */
  /* background-repeat: no-repeat; */
  /* background-position: 20px center; */
  background-size: 1.2em;
  font-size: 1.2em;
  max-height: 10%;
  /* border: 0; */
  /* outline: none; */
}

/* .map-dimensions {
  width: 80%;
  float: right;
} */

.image-dimensions {
  width: 100%;
  /* max-height: 300px; */
}

.title-block {
  display: flex;
  flex-direction: row;
  min-height: 7%;
}

.title-place {
  margin-top: auto;
  margin-bottom: auto;
}

.location-style {
  overflow: auto;
  max-height: 93%;
}

.list-overrides:hover {
  cursor: default;
}

.marker-title-style {
  text-align: center;
}

.welcome-sign {
  height: 5vh;
  text-align: center;
  background: black;
  /* background-image: url('alley - Copy.jpg'); */
  /* background: linear-gradient(to right, #65f442, #47ced8); */
  color: white;
  font: bold 1.2em "Fira Sans", serif;
  font-weight: 600;
}

.search-order, .info-tab-order {
  width: 30%;
}

.map-order {
  width: 100%;
  height: 95vh;
}

.list-style {
  max-height: 91%;
  overflow: auto;
}

.error-image {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error-page {
  max-height: 93%;
  overflow: auto;
}

.inner-margin {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (max-width: 600px) {
  .app-format {
    display: flex;
    flex-direction: column;
  }

  .map-order {
    order: 0;
    height: 50vh;
  }

  .search-order {
    order: 1;
    width: 100%;
  }

  .info-tab-order {
    order: 1;
    width: 100%;
  }

  .list-style {
    overflow: visible;
  }

  .location-style {
    overflow: visible;
  }

  .welcome-sign {
    height: 5vh;
    padding-top: 10px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 350px) {
  .welcome-sign {
    height: 10vh;
  }
}
